{% extends 'base.html' %}

{% block content %}
    {% if request.user.username == 'admin' %}
        <br>
        <h4 class="text-center">Все заказы</h4>
        <br>
            <table class="table">
        <tr style="background: lightgrey">
            <td class="text-center">Номер заказа</td>
            <td class="text-center">Дата заказа</td>
            <td class="text-center">Статус заказа</td>
            <td class="text-center">Стоимость заказа</td>
            <td class="text-center">Детали заказа</td>
            </tr>
    {% for item in orders %}
            <tr>
            <td class="text-center">{{ item.id }}</td>
            <td class="text-center">{{ item.data }}</td>
            <td class="text-center">{{ item.status }}</td>
            <td class="text-center">{{ item.total }} б.р.</td>
            <td class="text-center"><button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal-{{ item.id }}">
  Детали заказа
</button></td>
            </tr>
    {% endfor %}
     <tr>
        <td></td>
        <td></td>
         <td class="text-center"><strong>Стоимость всех заказов</strong></td>
         <td class="text-center"><strong>{{ total_price }} б.р.</strong></td>
        <td></td>
    </tr>
    </table>
    {% else %}
        <h3 class="text-center">Личный кабинет пользователя {{ request.user }}</h3>
<br>
<h4 class="text-center">Ваши заказы</h4>
    <table class="table">
        <tr style="background: lightgrey">
            <td class="text-center">Номер заказа</td>
            <td class="text-center">Дата заказа</td>
            <td class="text-center">Статус заказа</td>
            <td class="text-center">Стоимость заказа</td>
            <td class="text-center">Детали заказа</td>
            </tr>
    {% for item in order %}
            <tr>
            <td class="text-center">{{ item.id }}</td>
            <td class="text-center">{{ item.data }}</td>
            <td class="text-center">{{ item.status }}</td>
            <td class="text-center">{{ item.total }} б.р.</td>
            <td class="text-center"><button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal-{{ item.id }}">
  Детали заказа
</button></td>
            </tr>
    {% endfor %}
    </table>
    {% endif %}
{% if request.user.username == 'admin' %}
    {% for item in orders %}
<div class="modal fade" id="myModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Заказ №{{ item.id }}</h4>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <h3>Товар</h3>
        <table class="table">
            {% for order_item in item.items.items.all %}
            <tr>
                <td>{{ order_item.product.title }}</td>
                <td>{{ order_item.qty }} шт.</td>
                <td>{{ order_item.item_total }} б.р.</td>
            </tr>
                {% endfor %}
            <tr>
                    <td></td>
                    <td>Итого:</td>
                    <td><strong>{{ item.items.cart_total }} б.р.</strong></td>
                </tr>
        </table>
      <h3>Заказчик</h3>
      <p>Имя: {{ item.first_name }}</p>
      <p>Фамилия: {{ item.last_name }}</p>
      <p>Телефон: {{ item.phone }}</p>
      <h3>Тип доставки</h3>
      <p>{% if item.buying_type == 'self' %}Самовывоз{% else %}Доставка{% endif %}</p>
      <p>{% if item.buying_type == 'delivery' %}{{ item.address }}{% endif %}</p>
      <h3>Комментарий к заказу</h3>
      <p>{{ item.comments }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
    {% endfor %}
    {% else %}
    {% for item in order %}
        <div class="modal fade" id="myModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Заказ №{{ item.id }}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <table class="table">
            {% for order_item in item.items.items.all %}
            <tr>
                <td>{{ order_item.product.title }}</td>
                <td>{{ order_item.qty }} шт.</td>
                <td>{{ order_item.item_total }} б.р.</td>
            </tr>
                {% endfor %}
            <tr>
                    <td></td>
                    <td>Итого:</td>
                    <td><strong>{{ item.items.cart_total }} б.р.</strong></td>
                </tr>
        </table>
      <h3>Заказчик</h3>
      <p>Имя: {{ item.first_name }}</p>
      <p>Фамилия: {{ item.last_name }}</p>
      <p>Телефон: {{ item.phone }}</p>
      <h3>Тип доставки</h3>
      <p>{% if item.buying_type == 'self' %}Самовывоз{% else %}Доставка{% endif %}</p>
      <p>{% if item.buying_type == 'delivery' %}{{ item.address }}{% endif %}</p>
      <h3>Комментарий к заказу</h3>
      <p>{{ item.comments }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
    {% endfor %}
    {% endif %}
{% endblock %}