{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>{{ category.name }}</h2>
        <div class="row">
          {% for product in products_of_category %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt="" style="width: 80%; height: 300px;"></a>
              <div class="card-body">
                <h4 class="card-title">
                 <p class="text-center"> <a href="{{ product.get_absolute_url }}">{{ product.title }}</a></p>
                </h4>
                <h5 class="text-center">{{ product.price }} б.р.</h5>
                  {% if request.user.is_authenticated %}
                  <p class="text-center"><a href="#" class="add_to_cart" data-slug="{{ product.slug }}" ><button class="btn btn-primary center-block">Добавить в корзину</button> </a></p>
                  {% else %}
                  {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    <script src='{% static "js/jquery.min.js" %}'></script>
        <script>
        $(document).ready(function () {
            $('.add_to_cart').on('click', function(e) {
                e.preventDefault()
                product_slug = $(this).attr('data-slug')
                data = {
                    product_slug: product_slug
                }
                $.ajax({
                    type: "GET",
                    url: '{% url "add_to_cart" %}',
                    data: data,
                    success: function (data) {
                        $('#cart_count').html(data.cart_total)
                    }
                })
            })
        })
    </script>
{% endblock content %}