{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br><br>
<form action="{% url 'thank_you'%}" method="POST">
{% csrf_token %}
<div class="row">
    <div class="col-md-4">
        {{ form.name|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ form.last_name|as_crispy_field }}
    </div>
    <div class="col-md-4">
        {{ form.phone|as_crispy_field }}
    </div>
</div>
{{ form.buying_type|as_crispy_field }}
{{ form.address|as_crispy_field }}
{{ form.date|as_crispy_field }}
{{ form.comments|as_crispy_field }}
<input type="submit" class="btn btn-primary" value="Оформить заказ" >
</form>
<script src='{% static "js/jquery.min.js" %}'></script>
    <script>
        $(document).ready(function () {
            $('#div_id_address').css('display', 'none')
            $('#id_buying_type').on('click', function () {
                buying_type = $(this).val()
                if(buying_type == 'delivery'){
                    $('#div_id_address').css('display', 'block')
                }else{
                    $('#div_id_address').css('display', 'none')
                }
            })
            $('#id_date_month').css('width', '140px')
            $('#id_date_day').css('width', '80px')
            $('#id_date_year').css('width', '100px')
            $('#id_date_month').css('display', 'inline')
            $('#id_date_day').css('display', 'inline')
            $('#id_date_year').css('display', 'inline')
        })
    </script>
{% endblock content %}